In [7]:
import pandas as pd

In [8]:
df = pd.read_pickle(
    '/Users/okankoklu/Desktop/EXETER/Year 3/BEM3064 Data Viz/DATAVIZ PROJECT/raw_tweets_dataframe.pkl')

display(df)

,id,date,coordinates,number_of_replies,number_of_retweets,number_of_likes,language,raw_content
0,1646333442651717633,2023-04-13 02:04:14+00:00,"Coordinates(longitude=-118.0632981, latitude=3...",0,0,5,en,@SMHatLibs I noticed that electric car quit in...
1,1646044706776793088,2023-04-12 06:56:54+00:00,"Coordinates(longitude=-3.9526026, latitude=40....",1,0,5,en,Many of you ask me about my experience with my...
2,1645731911191461894,2023-04-11 10:13:58+00:00,"Coordinates(longitude=-7.66085699743185, latit...",1,0,5,en,@AutomotiveDia It's pennies mate\n\n£600 rent/...
3,1645665048436805632,2023-04-11 05:48:17+00:00,"Coordinates(longitude=152.668522848, latitude=...",0,3,14,en,@CarExpertAus Dreaming here as electric cars ...
4,1645150581638438914,2023-04-09 19:43:58+00:00,"Coordinates(longitude=-83.67529, latitude=36.5...",0,0,3,en,@airat618150 @metadriveapp Looking good! Yeah...
...,...,...,...,...,...,...,...,...
8889,1306479802925318145,2020-09-17 06:27:12+00:00,"Coordinates(longitude=4.1723759, latitude=50.6...",1,0,2,nl,@iOnAsJ Wij hebben een 30tal H2-wagens rondrij...
8890,1607705706701983746,2022-12-27 11:51:24+00:00,"Coordinates(longitude=0.3406128, latitude=44.6...",3,0,9,nl,@mbchamstra @IonityChargers @ENGIEpartFR 1) He...
8891,1476542724983644165,2021-12-30 13:16:33+00:00,"Coordinates(longitude=7.4924658, latitude=50.5...",1,0,3,da,@martingrefte @matthijsklaver @AllegoCharging ...
8892,1427967707471925254,2021-08-18 12:16:46+00:00,"Coordinates(longitude=6.4645947, latitude=51.8...",5,0,9,nl,@pvmeekeren @Fastned Het pijnpunt zit hem in h...
8893,1081886909029335040,2019-01-06 12:15:14+00:00,"Coordinates(longitude=3.7181568, latitude=51.6...",1,2,3,nl,@markvoorn @EvertGDavelaar Tja en alles wat je...

## Data Cleaning

- cleaning the raw_content column
- splitting the coordinates column into latitude and longitude columns
- getting rid of words that start with '@'

In [9]:
df1 = df.copy()

df1['raw_content'] = df1['raw_content'].str.replace('\n\n', ' ')
df1['raw_content'] = df1['raw_content'].str.replace(';\n', ' ')
df1['raw_content'] = df1['raw_content'].str.replace('\n', ' ')

df1['coordinates'] = df1['coordinates'].astype(str)
df1['coordinates'] = df1['coordinates'].str.extract('\((.*?)\)')
df1['coordinates'] = df1['coordinates'].str.replace('longitude=', '')
df1['coordinates'] = df1['coordinates'].str.replace('latitude=', '')

df1['raw_content'] = df1['raw_content'].str.replace(r'@\w+', '@user')

df1[['longitude', 'latitude']] = df1['coordinates'].str.split(',', expand=True)

df1['latitude'] = pd.to_numeric(df1['latitude'])
df1['longitude'] = pd.to_numeric(df1['longitude'])

df1 = df1.drop(columns='coordinates')

display(df1)

/var/folders/lv/0wp94p0d4w90h0gmv1c5q3ch0000gn/T/ipykernel_92087/488322118.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['raw_content'] = df1['raw_content'].str.replace(r'@\w+', '@user')

,id,date,number_of_replies,number_of_retweets,number_of_likes,language,raw_content,longitude,latitude
0,1646333442651717633,2023-04-13 02:04:14+00:00,0,0,5,en,@user I noticed that electric car quit in the ...,-118.063298,33.791963
1,1646044706776793088,2023-04-12 06:56:54+00:00,1,0,5,en,Many of you ask me about my experience with my...,-3.952603,40.377576
2,1645731911191461894,2023-04-11 10:13:58+00:00,1,0,5,en,@user It's pennies mate £600 rent/mortgage £20...,-7.660857,54.633631
3,1645665048436805632,2023-04-11 05:48:17+00:00,0,3,14,en,@user Dreaming here as electric cars are not ...,152.668523,-27.767441
4,1645150581638438914,2023-04-09 19:43:58+00:00,0,0,3,en,"@user @user Looking good! Yeah, I do enjoy th...",-83.675290,36.540739
...,...,...,...,...,...,...,...,...,...
8889,1306479802925318145,2020-09-17 06:27:12+00:00,1,0,2,nl,@user Wij hebben een 30tal H2-wagens rondrijde...,4.172376,50.689144
8890,1607705706701983746,2022-12-27 11:51:24+00:00,3,0,9,nl,@user @user @user 1) Het is in de zomer drukke...,0.340613,44.619356
8891,1476542724983644165,2021-12-30 13:16:33+00:00,1,0,3,da,"@user @user @user Martin Grefte, de man die al...",7.492466,50.549509
8892,1427967707471925254,2021-08-18 12:16:46+00:00,5,0,9,nl,@user @user Het pijnpunt zit hem in het feit d...,6.464595,51.853814
8893,1081886909029335040,2019-01-06 12:15:14+00:00,1,2,3,nl,@user @user Tja en alles wat je in het verlede...,3.718157,51.643753

In [10]:
df1.to_pickle(
    '/Users/okankoklu/Desktop/EXETER/Year 3/BEM3064 Data Viz/DATAVIZ PROJECT/cleaned_tweets_dataframe.pkl')